In [18]:
import pandas as pd

In [19]:
df=pd.read_csv("IRO9AHRM4681.csv")

In [20]:
sorted_df=df.sort_values(ascending=True,by="Date")
num_of_4_batches=len(sorted_df)-3
num_of_4_batches

62

In [21]:
sorted_df

        Date  Time  Open  High   Low  Close  Volume
0   20250721     0  2342  2342  2342   2342      10
1   20250809     0  1200  1200   900    985       9
2   20250810     0   600   600   490    500    2797
3   20250811     0   570   570   390    400    1417
4   20250812     0   438   438   400    437     492
..       ...   ...   ...   ...   ...    ...     ...
60  20251103     0  2630  2900  2330   2400   14137
61  20251104     0  2200  2569  1502   1840    5323
62  20251105     0  1550  1619  1102   1321   11879
63  20251108     0  1990  1990   505    795    1140
64  20251109     0   462   462   225    236    3582

[65 rows x 7 columns]

In [22]:
for i in range(len(sorted_df) - 3):
    if (sorted_df["High"].iloc[i+3] > sorted_df["High"].iloc[i+2]) and \
       (sorted_df["High"].iloc[i+2] > sorted_df["High"].iloc[i+1]) and \
       (sorted_df["High"].iloc[i+1] > sorted_df["High"].iloc[i]):
        print(sorted_df["Date"].iloc[i+3])

20250818
20250902
20250909
20250913
20250914
20250929
20251013
20251028
20251029
20251101

In [23]:
import jdatetime
import datetime

# فرض کنید تاریخ میلادی دارید:
gregorian_date = datetime.datetime(2025, 11, 1)

# تبدیل به شمسی:
jalali_date = jdatetime.date.fromgregorian(date=gregorian_date.date())
print(jalali_date)
# خروجی مثلاً: 1404-08-18

# اگر بخواهی فقط چاپ زیباتر:
print(jalali_date.strftime("%Y/%m/%d"))  # 1404/08/18

1404-08-10
1404/08/10

In [64]:
import pandas as pd

def three_candles(path):
    df = pd.read_csv(path)
    df["Date"] = pd.to_datetime(df["Date"], format="%Y%m%d", errors="coerce")
    sorted_df = df.sort_values(by="Date", ascending=True).reset_index(drop=True)
    dates = []
    
    for i in range(len(sorted_df) - 3):
        if (
            (sorted_df["High"].iloc[i+3] > sorted_df["High"].iloc[i+2]) and
            (sorted_df["High"].iloc[i+2] > sorted_df["High"].iloc[i+1]) and
            (sorted_df["High"].iloc[i+1] > sorted_df["High"].iloc[i])
        ):
            dates.append(str(sorted_df["Date"].iloc[i+3]))
    
    return dates

In [80]:
dates=three_candles("IRO9AHRM4681.csv")

In [81]:
import jdatetime
import datetime
jalali=[]
for i in range(len(dates)) :
    gregorian_date = datetime.datetime(int(dates[i][0:4]),int(dates[i][5:7]),int(dates[i][8:10]))
    jalali_date = jdatetime.date.fromgregorian(date=gregorian_date.date())
    jalali.append(jalali_date.strftime("%Y/%m/%d"))
jalali

['1404/05/27',
 '1404/06/11',
 '1404/06/18',
 '1404/06/22',
 '1404/06/23',
 '1404/07/07',
 '1404/07/21',
 '1404/08/06',
 '1404/08/07',
 '1404/08/10']